# ============================================================================ #
# Author: Mark Taguiad <marktaguiad@tagsdev.xyz>
# ============================================================================ #

# kubeconfig yaml file generated for admin access to the cluster
admin.conf
venv/
# ============================================================================ #